.inp {
    height: 30px;
    width: 350px;
    margin: 10px;
}

.list {
    text-align: left;
}

.btn {
    margin: 10px;
}

.point {
    display: flex;
    margin: 10px;
}

.point:checked {
    text-decoration: line-through;
}